<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccountCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AccountCreator.Properties.Settings>
            <setting name="UserCloud" serializeAs="String">
                <value>lum-customer-a2ztix-zone-user35</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value>sohaibdrop</value>
            </setting>
        </AccountCreator.Properties.Settings>
    </userSettings>
</configuration>